section#education
    h2.text-center.text-lg.font-medium.bg-emerald-50 Professional Experience
    hr.border-emerald-100.mb-1(class=`border-${barSize}`)
    each exp in general.experience
        each role in exp.roles
            - let roleAccomplishments = private_accomplishments.filter(accList => accList.key === role.key).flatMap(accList => accList.accomplishments);
            - let currentRoleList = includedAccomplishmentLists.filter(indList => indList.role === role.key);
            - let currentRole = currentRoleList[0];
            - let indices = currentRoleList.flatMap(indList => indList.indices);
            - let accomplishments = indices.map(i => {const n = +i; return Number.isInteger(n) ? roleAccomplishments[n] : {text: i};})
            hgroup
                h3.text-base.mt-2 #[strong= currentRole.alterateRoleName || role.title]
                p.text-right.text-sm.-mt-5: em= role.start.year + " — " + (role.end ? role.end.year : "Present")
                p.text-xs.text-left.pl-2 
                    if exp.link
                        //- a(href=exp.link).underline.underline-offset-4=exp.company
                        a.text-emerald-900(href=exp.link): b=exp.company
                    else
                        span.text-emerald-950=exp.company
            ul.list-disc.list-inside
            each accomplishment in accomplishments
                //- TODO: Switch based on accomplishment type
                li.leading-tight.mb-1.pl-2.text-sm: span.-ml-1= accomplishment.text
