- let emailContact = private_contacts.email[headlineExtra.emailIndex || 0]

mixin add_contact_element(contact)
    case contact
        when "email"
            a(href="mailto:"+emailContact).underline-offset-4="Email: "+emailContact
        when "phone"
            ="Phone: "+private_contacts.phone[headlineExtra.phoneIndex || 0]
        when "github"
            a(href=general.headline.contact.github).underline-offset-4="GitHub: "+general.headline.contact.github.replace(/^https?\:\/\/(?:www\.)?github.com\//i, "")
        when "linkedin"
            a(href=general.headline.contact.linkedin).underline-offset-4="LinkedIn: "+general.headline.contact.linkedin.replace(/^https?\:\/\/(?:www\.)?linkedin.com\/in\//i, "")
        when "website"
            a(href=general.headline.contact.website).underline-offset-4="Website: "+general.headline.contact.website.replace(/^https?\:\/\//i, "")
        default
            span=headlineExtra.contactOrder

section#headline
    hgroup.text-center
        h1.text-3xl.font-semibold=general.headline.name
        - let allContactsExceptEnd = headlineExtra.contactOrder.slice(0, -1);
        - let lastContact = headlineExtra.contactOrder.slice(-1)[0];
        .flex.justify-evenly
            each contact in allContactsExceptEnd
                p.text-sm.text-emerald-900 
                    +add_contact_element(contact)
            if lastContact
                p.text-sm.text-emerald-900
                    +add_contact_element(lastContact, "")
            
                

