extends resume_layout.pug


block content
    - barSize = 0
    div(class=`bg-${headlineColor}`)
        include ./components/headline
        hr.my-1.border-emerald-300(class=`border-${barSize}`)
        include ./components/summary
    hr.border-emerald-200.mb-1(class=`border-${barSize}`)
    include ./components/experience
    hr.border-emerald-200.mb-1(class=`border-${barSize}`)
    include ./components/education
    hr.border-emerald-200.mb-1(class=`border-${barSize}`)
    include ./components/skills_list

